.cont{
    background-color: white;
}

.row {
    justify-content: space-around;
    list-style: none;
}

.row.rows {
    order: 1;
    display: flex;
    position: relative;
    align-items: baseline;
    

}
