.App {
    text-align: center;
    background-image: url("./img/backgroundd_1920_1080.png");
    
}
 /* First Row */
#skeleton_one{
    margin: auto;
}
 /* Second Row */
#skeleton_two{
    margin: 5%;
    align-items: center;
}

  /* header fictif prêt à accueillir la navbar de Nath */
.App-header {
    margin-bottom: 5%;
}




